body {
    align-items: center;
    background: #000;
    color: #FFF;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

span { 
    margin-top: 40px;
}

.loader {
    height: 200px;
    perspective: 800;
    position: relative;
    transform-style: preserve-3d;
    width: 200px;
}

.loader .arc {
    border: solid #c44569;  
    border-radius: 50%;
    border-width: 10px 0px;  /* valor de 10px top e bottom | 0px right e left */
    filter: contrast(2);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.loader .arc:nth-child(1) {
    animation: rotate1 1.5s -1s linear infinite;
}

.loader .arc:nth-child(2) {
    animation: rotate2 1.5s -0.5s linear infinite;
}

.loader .arc:nth-child(3) {
    animation: rotate3 1.5s 0s linear infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotateX(45deg) rotateY(45deg) rotateZ(0);
    } 

    100% {
        transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg); 
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(0);
    } 

    100% {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg); 

    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(45deg) rotateY(-45deg) rotateZ(0);
    } 

    100% {
        transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg); 
    }
}